@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "playfair";
  src: url("./assets/fonts/PlayfairDisplay-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  letter-spacing: 1.5px;
}

@media only screen and (max-width: 640px) {
  :root {
    font-size: small;
    --imgwidth: 20rem;
    --imgheigth: 100%;
  }
}
@media only screen and (min-width: 640px) {
  :root {
    font-size: small;
    --imgwidth: 20rem;
    --imgheigth: 100%;
  }
}
@media only screen and (min-width: 768px) {
  :root {
    font-size: medium;
    --imgwidth: 20rem;
    --imgheigth: 80%;
  }
}
@media only screen and (min-width: 1536px) {
  :root {
    font-size: large;
    --imgwidth: 25rem;
    --imgheigth: 80%;
  }
}

@layer utilities {
  .flexV {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .flexH {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .sbirlobo {
    font-size: 2.5rem;
    z-index: 10;
    font-family: "playfair";
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .sbirlobo img {
    max-height: 3.5rem;
    padding-right: 1.2rem;
  }
  .menuButton {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    cursor: pointer;
    font-weight: bold;
  }
  .menu {
    position: absolute;
    top: -224px;
    right: 0;
    background-color: theme("colors.secondary");
    color: theme("colors.primary");
    font-weight: bold;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .menu li {
    padding: 1rem;
  }
  .active {
    transform: translateY(300px);
    transition: transform 0.4s ease-out;
    z-index: 5;
  }

  .nav {
    position: absolute;
    top: 100px;
    left: 0px;
    color: theme("colors.secondary");
    background-color: theme("colors.primary");
    width: fit-content;
    padding-top: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
    border-right: theme("colors.tertiary") solid 1px;
  }
  .fontCard {
    background-color: theme("colors.primary");
    width: max-content;
    padding: 0.5rem;
    margin: 1rem;
    border: 1px solid theme("colors.tertiary");
  }
  .projectImg {
    height: var(--imgheigth);
    width: var(--imgwidth);
    max-height: min-content;
    object-fit: cover;
    object-position: 0 0;
    padding-top: 0.5rem;
  }
  .projectName {
    font-weight: bold;
    color: white;
    font-size: 1rem;
  }
  .cardBottom {
    letter-spacing: normal;
  }
  .cardButton {
    --b: 1px; /* border thickness */
    --s: 0.3em; /* size of the corner */
    --color: theme(colors.tertiary);
    padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background: conic-gradient(
        from 90deg at var(--b) var(--b),
        #0000 90deg,
        var(--color) 0
      )
      var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
      calc(100% - var(--b) - 2 * var(--_p));
    transition: 0.3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: 0.6em;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  .cardButton:hover,
  .cardButton:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: 0.05em;
  }
  .cardButton:active {
    background: var(--color);
    color: #fff;
  }
  .contactTitle {
    border-bottom: theme("colors.tertiary") solid 2px;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  .contactButton {
    border: theme("colors.tertiary") solid 2px;
    font-weight: bold;
    border-radius: 4px;
    padding: 0.1rem 1rem 0.1rem 1rem;
    margin-top: 2rem;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgb(224, 223, 223);
    outline: 4px auto -webkit-focus-ring-color;
  }
  .contactButton:hover {
    border-color: #646cff;
    box-shadow: 0px 0px 5px rgb(224, 223, 223);
  }
  .contactButton:focus,
  .contactButton:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}
